#header-wrapper {
    background: #322A38;
    border-bottom: 4px solid #545454;
}


div.notices.goto p {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.goto p:first-child:after {
    content: 'Goto';
}

#footer .fa-heart {
    color: #e75225;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
